@font-face {
  font-family: "MuliBold";
  src: url("../assets/fonts/Muli-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Muli";
  src: url("../assets/fonts/Muli-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Muli";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: #F5FAFE;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  max-width: 180px;
}

.header {
  width: 100%;
}

.header-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  font-size: 10px;
  line-height: 13px;
  color: #333333;
}

.header-intro__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

.header-intro__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-intro__text {
  padding: 0 10px;
}

.nav {
  background-color: #FFFFFF;
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
}

.nav-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.nav-top__item-big {
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-top__trash {
  margin: 0 20px;
}

.search-form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form__input {
  font-size: 12px;
  line-height: 15px;
  width: 70%;
  height: 40px;
  color: #333333;
  background: #F5FAFE;
  border-radius: 6px 0 0 6px;
  border: 1px solid #bbb6b6;
}

.search-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background: #EC1F46;
  width: 20%;
  height: 40px;
  border-radius: 0px 6px 6px 0px;
}

.search-form__button img {
  width: 25%;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.person__name {
  padding: 0 24px 0 18px;
}

.person__menu {
  border: solid #333333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-bottom {
  background-color: #0A223D;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.navbar-menu__item {
  list-style: none;
}

.navbar-menu__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  line-height: 13px;
  padding: 0;
  margin: 18px 0 43px;
}

.breadcrumb-list__item {
  list-style: none;
}

.breadcrumb-list__link {
  text-decoration: none;
  color: #333333;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.hotel__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel__title {
  font-family: "MuliBold";
  font-size: 24px;
  line-height: 30px;
}

.hotel__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel__flash-offer {
  margin-left: 15px;
  background: #EC1F46;
  border-radius: 3px;
  font-size: 12px;
  line-height: 13px;
  padding: 5px 15px;
  color: #FFFFFF;
}

.hotel__text {
  margin: 5px 0;
  font-size: 12px;
  line-height: 15px;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background: #EC1F46;
  border-radius: 4px;
  padding: 10px;
  color: #FFFFFF;
}

.hotel-rating__score {
  font-size: 16px;
  line-height: 18px;
}

.hotel__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.hotel__img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  width: 68%;
}

.hotel__photo {
  display: block;
  width: 100%;
  max-width: 800px;
  opacity: 0.8;
}

.hotel__information {
  color: #FFFFFF;
  width: 30%;
}

.hotel__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  background-color: #0A223D;
  padding: 30px;
}

.hotel__map {
  margin-top: 20px;
  height: 100%;
}

.hotel__map iframe {
  border-radius: 10px;
}

.button, .button_margin_top {
  display: inline-block;
  padding: 15px 25px;
  margin: 0 auto;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EC1F46;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  font-family: "MuliBold";
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.button:hover, .button_margin_top:hover {
  background-color: rgba(236, 31, 70, 0.6);
}

.button_margin_top {
  margin-top: 40px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 16px;
}

.price__num {
  font-size: 24px;
  line-height: 33px;
  font-family: "MuliBold";
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__item p {
  margin: 0;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.booking__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.package__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 30px;
  font-family: "MuliBold";
}

.package__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 67px;
  font-family: "MuliBold";
}

.package__item {
  text-decoration: none;
  color: #333333;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.package__item:hover {
  color: #EC1F46;
}

.package__item:hover:after {
  opacity: 1;
}

.package__item:after {
  position: absolute;
  top: 180%;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  content: '';
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background-color: #EC1F46;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.package__item_active {
  color: #EC1F46;
}

.package__item_active:after {
  opacity: 1;
}

.package-offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.package-summery {
  margin-top: 40px;
  font-size: 12px;
  line-height: 15px;
}

.package-summery__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.package-summery__title {
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #0A223D;
  padding: 20px;
  border-radius: 6px 6px 0px 0px;
}

.package-summery__unit {
  width: 47%;
  background-color: #FFFFFF;
}

.package-summery__list {
  list-style-image: url("../assets/img/icon/list-image.png");
  padding: 0 25px;
}

.package-summery__item {
  margin-bottom: 20px;
}

.package-summery__item_marked {
  width: 43%;
  list-style-image: url("../assets/img/icon/date.svg");
}

.package-summery__item_padding {
  width: 33%;
}

.package-summery__valid {
  padding-left: 30px;
  margin: 0;
}

.package-summery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.package-summery__unit_width {
  width: 100%;
}

.details {
  background-color: #FFFFFF;
}

.details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  padding: 20px;
}

.details__unit {
  width: 30%;
}

.details__title {
  color: #EC1F46;
  margin-bottom: 20px;
}

.all-title {
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #333333;
}

.all-packages {
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 40px 0;
  text-align: center;
}

.all-packages__item {
  width: 30%;
  margin-top: 30px;
  text-align: left;
}

.all-packages__item_big {
  width: 65%;
}

.all-packages__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.offers__title {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}

.offers__text {
  font-size: 14px;
  line-height: 160.6%;
  margin-bottom: 21px;
}

.offers__item {
  width: 50%;
  max-width: 400px;
  border-radius: 0px 8px 8px 0px;
}

.offers__item_blue {
  background-color: #0A223D;
  padding: 20px 40px 0 40px;
}

.offers__item_bg {
  background: url("../assets/img/package/flash-offer.jpg") no-repeat;
  background-size: cover;
  padding: 0;
  border-radius: 8px 0px 0px 8px;
}

.offers__photo {
  width: 100%;
  max-width: 400px;
}

.offers__flag {
  position: absolute;
  top: 10%;
  left: 0;
  background-color: #EC1F46;
  border-radius: 0px 4px 4px 0px;
  padding: 10px 20px;
}

.offers__details {
  display: inline-block;
  margin: 5px 0;
}

.offers-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers-price__current {
  font-size: 24px;
  line-height: 30px;
  margin: 7px 0 30px;
  font-family: "MuliBold";
}

.offers-price__previous {
  margin: 0 auto;
  text-decoration: line-through;
}

.offers-price__button {
  padding: 10px 30px;
  display: block;
  margin: 0;
}

.offers_direction_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offers__item_other {
  width: 100%;
  border-radius: 0px 0px 8px 8px;
}

.offers__item_background {
  height: 210px;
  border-radius: 8px 8px 0px 0px;
}

.book1 {
  background-image: url("../assets/img/package/book1.jpg");
}

.book2 {
  background-image: url("../assets/img/package/book2.jpg");
}

.book3 {
  background-image: url("../assets/img/package/book3.jpg");
}

.book4 {
  background-image: url("../assets/img/package/book4.jpg");
}

.reviews {
  padding: 60px 0;
  text-align: center;
  font-size: 12px;
  line-height: 160%;
  position: relative;
}

.reviews__text {
  width: 48%;
  margin: 33px auto 80px;
  text-align: justify;
}

.reviews__photo {
  margin-top: 70px;
}

.reviews__name {
  margin-bottom: 10px;
}

.reviews__status {
  margin: 0;
}

.reviews__btn {
  position: absolute;
  top: 55%;
  border: solid #333333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.reviews__btn_previous {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  left: 15%;
}

.reviews__btn_next {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 15%;
}

.subscribe {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 34, 61, 0.8))), url("../assets/img/bg.jpg");
  background: linear-gradient(to bottom, rgba(10, 34, 61, 0.8)), url("../assets/img/bg.jpg");
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 30px;
  padding: 0 100px;
}

.subscribe__title {
  font-size: 36px;
  line-height: 45px;
}

.subscribe__title span {
  font-weight: normal;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-form__input {
  padding: 10px;
  max-width: 320px;
  height: 55px;
  font-size: 14px;
  line-height: 18px;
  color: #4b4b4b;
}

.subscribe-form__button {
  background: #EC1F46;
  border-radius: 0px 4px 4px 0px;
  padding: 20px 30px;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.activity {
  padding: 60px 0 90px;
}

.activity__title {
  font-family: "MuliBold";
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 57px;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.activities__item {
  width: 25%;
  max-width: 255px;
  height: 255px;
  padding: 26px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.activities__item_one {
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../assets/img/activities/one_activity.jpg");
}

.activities__item_two {
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../assets/img/activities/two_activity.jpg");
}

.activities__item_three {
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../assets/img/activities/three_activity.jpg");
}

.activities__item_four {
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../assets/img/activities/four_activity.jpg");
}

.activities__button {
  margin: 20px 0 0;
  padding: 10px 20px;
  max-width: 50%;
  font-size: 12px;
  line-height: 16px;
}

.footer {
  background-color: #0A223D;
  padding: 60px 0 15px;
  color: #BDBDBD;
  font-size: 14px;
  line-height: 15px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__title {
  margin-bottom: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.footer__link {
  display: block;
  text-decoration: none;
  margin-bottom: 7px;
  color: #BDBDBD;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.footer__networks img {
  padding: 0 3px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  padding: 0 25px;
}

.footer__info {
  margin-bottom: 30px;
}

.footer__text {
  font-size: 14px;
  line-height: 160%;
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
  color: #BDBDBD;
}

.footer__item_width {
  width: 57%;
}

.footer-bottom {
  text-align: center;
  margin: 100px 0 40px;
  position: relative;
}

.footer-bottom__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 0 10px;
}

.footer-bottom__icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer__logo {
  max-width: 180px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form-group__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group__item {
  font-size: 16px;
  line-height: 15px;
  font-family: "Muli";
  width: 48%;
  height: 50px;
  padding: 20px 30px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form-group__item:focus {
  outline: none;
}

.form-group__text {
  width: 100%;
  height: 140px;
  resize: none;
}

.form-group__button {
  margin: 0;
  width: 40%;
  max-width: 200px;
}

.form-group__require {
  position: absolute;
  bottom: 5%;
  right: 0;
  color: #E0E0E0;
  font-size: 12px;
  line-height: 15px;
}

/*media*/
@media screen and (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
  .offers__text {
    font-size: 14px;
    line-height: 18px;
  }
  .offers__item_blue {
    padding: 10px 20px;
  }
  .offers-price__current {
    font-size: 20px;
  }
  .activities__item {
    width: 23%;
  }
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 750px;
  }
  .nav-top__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-top__item-big {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .search-form {
    width: 65%;
  }
  .person__name {
    padding: 0 18px 0 16px;
  }
  .hotel__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hotel__img {
    width: 100%;
  }
  .hotel__information {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hotel__details {
    width: 48%;
  }
  .hotel__map {
    width: 48%;
    margin: 0;
  }
  .package__item {
    text-align: center;
    font-size: 13px;
    width: 14.28%;
  }
  .package__item:after {
    top: 120%;
  }
  .all-packages__item {
    width: 45%;
    max-width: 325px;
  }
  .all-packages__item_big {
    width: 100%;
    max-width: 900px;
  }
  .offers {
    margin: 0 auto;
  }
  .subscribe {
    padding: 20px 60px;
  }
  .subscribe__title {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .subscribe-form__input {
    max-width: 500px;
  }
  .activity {
    padding: 40px 0;
  }
  .activities {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .activities__item {
    width: 46%;
    margin-bottom: 30px;
  }
  .footer__item {
    width: 50%;
    margin-bottom: 10px;
  }
  .footer__logo {
    width: 25%;
  }
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 40px;
    margin-bottom: 10px;
  }
  .footer__item_cont {
    width: 100%;
  }
  .footer__item_width {
    width: 100%;
  }
  .footer-bottom {
    margin: 50px 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 92%;
    max-width: 576px;
  }
  .person__name {
    display: none;
  }
  .person__photo {
    margin-right: 10px;
  }
  .logo {
    width: 100%;
  }
  .nav-top {
    height: auto;
    padding: 40px 0 20px;
  }
  .nav-top__item {
    display: none;
  }
  .nav-top__item-big {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
  }
  .nav-menu__link {
    display: none;
  }
  .navbar-bottom {
    display: none;
  }
  .breadcrumb-list {
    margin-bottom: 18px;
  }
  .package-summery__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .package-summery__item_padding {
    width: 95%;
  }
  .search-form {
    display: none;
  }
  .package__link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .package__item {
    width: 30%;
    margin-bottom: 30px;
  }
  .package-summery__unit {
    width: 100%;
  }
  .details__item {
    margin-bottom: 20px;
  }
  .details__unit {
    width: 50%;
  }
  .all-packages {
    padding: 10px 0;
  }
  .all-packages__item {
    width: 90%;
    max-width: 350px;
    margin: 15px auto;
  }
  .all-packages__item_big {
    width: 100%;
    max-width: 500px;
  }
  .all-title {
    padding: 0 40px;
  }
  .reviews__photo {
    margin-top: 20px;
  }
  .reviews__text {
    width: 70%;
    margin-bottom: 30px;
  }
  .footer {
    padding-top: 20px;
  }
  .footer__wrapper {
    padding: 20px 5px;
  }
  .footer-bottom {
    height: 60px;
    margin-bottom: 10px;
  }
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel__details,
  .hotel__map {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .header-intro {
    display: none;
  }
  .hotel__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel__offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .hotel__flash-offer {
    margin-left: 0;
  }
  .offers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offers__item {
    width: 100%;
  }
  .offers__item_bg {
    height: 200px;
    border-radius: 8px 8px 0px 0px;
  }
  .offers__item_blue {
    border-radius: 0px 0px 8px 8px;
  }
  .reviews__btn_previous {
    left: 10%;
  }
  .reviews__btn_next {
    right: 10%;
  }
  .form-group__item {
    width: 100%;
  }
  .all-packages__item_big {
    width: 90%;
    max-width: 350px;
  }
  .activities__item {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .nav-top__trash {
    margin: 0;
    opacity: 0;
  }
  .details__item {
    margin: 0;
    padding: 0 20px;
  }
  .details__unit {
    width: 100%;
  }
  .details__title {
    margin-top: 10px;
  }
  .footer__contacts {
    padding: 0;
    text-align: justify;
  }
  .footer__item {
    width: 100%;
    text-align: center;
  }
  .footer__logo {
    max-width: 100px;
  }
  .footer__title {
    padding-right: 0;
  }
  .footer-bottom {
    margin-top: 10px;
  }
  .button_margin_top {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */