@charset "UTF-8";
@font-face {
  font-family: "MuliBold";
  src: url("../assets/fonts/Muli-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../assets/fonts/Muli-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

body {
  font-family: "Muli";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: #F5FAFE;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input:focus,
input:active {
  outline: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  max-width: 180px;
}

.content_center {
  text-align: center;
}

.header {
  width: 100%;
  position: relative;
}

.header-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  font-size: 10px;
  line-height: 13px;
  color: #333333;
}

.header-intro__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

.header-intro__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-intro__text {
  padding: 0 10px;
}

.nav {
  background-color: #FFFFFF;
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
}

.nav-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.nav-top__item-big {
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-top__trash {
  margin: 0 20px;
}

.burger-menu {
  display: none;
}

.nav-toggle {
  display: none;
}

.search-form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form__input {
  font-size: 14px;
  line-height: 15px;
  color: #333333;
  width: 70%;
  height: 40px;
  background: #F5FAFE;
  border-radius: 8px 0 0 8px;
  border: 1px solid #bbb6b6;
  margin: 0;
}

.search-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background: #EC1F46;
  width: 20%;
  height: 40px;
  border-radius: 0 8px 8px 0;
}

.search-form__button img {
  width: 25%;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.person__name {
  padding: 0 24px 0 18px;
}

.person__menu {
  border: solid #333333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-bottom {
  background-color: #0A223D;
}

.navbar-bottom .navbar-menu {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.navbar-bottom .navbar-menu__item {
  text-align: center;
  list-style: none;
  padding: 10px;
}

.navbar-bottom .navbar-menu__item:hover a {
  color: #EC1F46;
}

.navbar-bottom .navbar-menu__item.active a {
  color: #EC1F46;
}

.navbar-bottom .navbar-menu__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.breadcrumb-list {
  font-size: 10px;
  line-height: 13px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 18px 0 33px;
}

.breadcrumb-list__item {
  list-style: none;
}

.breadcrumb-list__item + .breadcrumb-list__item:before {
  display: inline-block;
  color: #333333;
  content: "/";
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.hotel__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel__title {
  font-family: "MuliBold";
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.hotel__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel__flash-offer {
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
  margin-left: 15px;
  background: #EC1F46;
  border-radius: 3px;
  padding: 5px 15px;
}

.hotel__text {
  margin: 5px 0;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  text-align: center;
  background: #EC1F46;
  border-radius: 4px;
  padding: 10px;
}

.hotel-rating__score {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
}

.hotel__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.hotel__img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  width: 68%;
}

.hotel__photo {
  display: block;
  width: 100%;
  max-width: 800px;
  opacity: 0.8;
}

.hotel__information {
  color: #FFFFFF;
  width: 30%;
}

.hotel__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  background-color: #0A223D;
  padding: 30px;
}

.hotel__map {
  margin-top: 20px;
  height: 100%;
}

.hotel__map iframe {
  border-radius: 10px;
  width: 100% !important;
}

.button, .button_margin_top {
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  display: inline-block;
  padding: 15px 25px;
  margin: 0 auto;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EC1F46;
  border-radius: 4px;
  text-align: center;
  font-family: "MuliBold";
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border: none;
  text-transform: uppercase;
}

.button:hover, .button_margin_top:hover {
  background-color: #980d27;
}

.button_margin_top {
  margin-top: 40px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.price__num {
  font-size: 24px;
  line-height: 33px;
  color: inherit;
  font-family: "MuliBold";
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__item p {
  margin: 0;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.booking__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.package__title {
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "MuliBold";
  text-align: left;
}

.package__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 67px;
  font-family: "MuliBold";
}

.package__link .slick-prev {
  top: 30%;
  left: 0;
}

.package__link .slick-next {
  top: 30%;
  right: 0;
}

.package__item {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  position: relative;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  cursor: pointer;
}

.package__item:active, .package__item:focus {
  outline: none;
}

.package__item:hover {
  color: #EC1F46;
}

.package__item:hover:after {
  opacity: 1;
}

.package__item:after {
  position: absolute;
  top: 180%;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  content: '';
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background-color: #EC1F46;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.package__item_active {
  color: #EC1F46;
}

.package__item_active:after {
  opacity: 1;
}

.package-offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.package-summery {
  margin-top: 40px;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.package-summery__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.package-summery__title {
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #0A223D;
  padding: 20px;
  border-radius: 8px 8px 0 0;
}

.package-summery__unit {
  width: 47%;
  background-color: #FFFFFF;
}

.package-summery__list {
  list-style-image: url("../assets/img/icon/list-image.png");
  padding: 0 25px;
}

.package-summery__item {
  margin-bottom: 20px;
}

.package-summery__item_marked {
  width: 43%;
  list-style-image: url("../assets/img/icon/date.svg");
}

.package-summery__item_padding {
  width: 33%;
}

.package-summery__valid {
  padding-left: 30px;
  margin: 0;
}

.package-summery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.package-summery__unit_width {
  width: 100%;
}

.details {
  background-color: #FFFFFF;
}

.details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  padding: 20px;
}

.details__unit {
  width: 30%;
}

.details__title {
  color: #EC1F46;
  margin-bottom: 20px;
}

.info {
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}

.info span {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.info p {
  padding: 0 10px;
}

.info__title {
  background-color: #0A223D;
  color: #FFFFFF;
  border-radius: 6px;
  padding: 10px 7px;
}

.info__title:before {
  content: '✓';
  display: inline-block;
  margin-right: 8px;
}

.rooms-choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rooms-choise__button {
  margin: 0;
}

input, select {
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Muli";
  border: 1px solid #BDBDBD;
  padding: 5px;
}

.free-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  text-align: left;
}

.free-room__info {
  border-radius: 0 8px 8px 0;
  border: 1px solid #BDBDBD;
  background-color: #FFFFFF;
  padding: 20px;
  width: 50%;
  font-size: 14px;
  position: relative;
}

.free-room__title {
  color: #0A223D;
  font-family: "MuliBold";
}

.free-room__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin-bottom: 30px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 8px;
}

.free-room__item:hover {
  -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.room-details {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 12px 5px;
  background-color: #0A223D;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.room-details:hover {
  text-decoration: underline;
}

.room-img {
  width: 50%;
  max-width: 280px;
  border-radius: 8px 0 0 8px;
}

.attractions {
  margin: 0 auto;
}

.attractions .slick-prev {
  left: 10%;
}

.attractions .slick-dots {
  bottom: -50px;
}

.attractions .slick-dots button {
  background: #BDBDBD;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  padding: 3px;
}

.attractions .slick-next {
  right: 10%;
}

.attractions .slick-active button {
  background: #333333;
}

.attractions__img {
  width: 95%;
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

.reviews-item {
  margin-bottom: 20px;
}

.reviews-item .reviews__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-item .reviews__details .rating-stars {
  margin-right: 10px;
  font-size: 18px;
  color: #EC1F46;
}

.reviews-item .reviews__details .rating-title {
  font-size: 16px;
  font-family: "MuliBold";
  margin: 0;
}

.rating-text {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin: 0 auto;
  padding: 0 15px;
}

.accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0A223D;
  padding: 5px 25px;
  border-radius: 8px 8px 0 0;
}

.accordion__heading {
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  font-family: "MuliBold";
}

.accordion__heading.active {
  color: #EC1F46;
}

.accordion__block {
  font-size: 16px;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  overflow: hidden;
}

.accordion__block.active-content {
  opacity: 1;
  padding: 15px;
  overflow: visible;
  margin: 5px 0;
}

.accordion__btn {
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  margin-left: 5px;
}

.all-title {
  font-size: 36px;
  line-height: 45px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.all-packages {
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 40px 0;
  text-align: center;
}

.all-packages__item {
  width: 30%;
  margin-top: 30px;
  text-align: left;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.all-packages__item:hover {
  -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.all-packages__item_big {
  width: 65%;
}

.all-packages__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.offers__title {
  font-size: 18px;
  line-height: 23px;
  color: inherit;
  margin-bottom: 15px;
}

.offers__text {
  font-size: 14px;
  line-height: 160.6%;
  color: inherit;
  margin-bottom: 21px;
}

.offers__item {
  width: 50%;
  max-width: 400px;
  border-radius: 0 8px 8px 0;
}

.offers__item_blue {
  background-color: #0A223D;
  padding: 20px 40px 0 40px;
}

.offers__item_bg {
  background: url("../assets/img/package/flash-offer.jpg") no-repeat;
  background-size: cover;
  padding: 0;
  border-radius: 8px 0 0 8px;
}

.offers__photo {
  width: 100%;
  max-width: 400px;
}

.offers__flag {
  position: absolute;
  top: 10%;
  left: 0;
  background-color: #EC1F46;
  border-radius: 0px 4px 4px 0px;
  padding: 10px 20px;
}

.offers__details {
  display: inline-block;
  margin: 5px 0;
}

.offers-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers-price__current {
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  margin: 7px 0 30px;
  font-family: "MuliBold";
}

.offers-price__previous {
  margin: 0 auto;
  text-decoration: line-through;
}

.offers-price__button {
  padding: 10px 30px;
  display: block;
  margin: 0;
}

.offers_direction_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offers__item_other {
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.offers__item_background {
  height: 210px;
  border-radius: 8px 8px 0 0;
}

.book1 {
  background-image: url("../assets/img/package/book1.jpg");
}

.book2 {
  background-image: url("../assets/img/package/book2.jpg");
}

.book3 {
  background-image: url("../assets/img/package/book3.jpg");
}

.book4 {
  background-image: url("../assets/img/package/book4.jpg");
}

.reviews {
  font-size: 12px;
  line-height: 160%;
  color: #333333;
  padding: 60px 0;
  text-align: center;
}

.reviews__photo {
  width: 100%;
  max-width: 120px;
  border-radius: 100%;
}

.reviews__text {
  width: 48%;
  margin: 33px auto 80px;
  text-align: justify;
}

.reviews img {
  margin: 40px auto;
}

.reviews .offers__stars {
  margin-top: 10px;
}

.reviews__name {
  margin-bottom: 10px;
}

.reviews__status {
  margin: 0;
}

.slick-arrows, .slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  border: solid #333333;
  border-width: 0 2px 2px 0;
  width: 12px;
  height: 12px;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  z-index: 1000;
}

.slick-prev {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  left: 15%;
}

.slick-prev:before {
  display: none;
}

.slick-next {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 15%;
}

.slick-next:before {
  display: none;
}

.subscribe {
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 34, 61, 0.8))), url("../assets/img/bg.jpg");
  background: linear-gradient(to bottom, rgba(10, 34, 61, 0.8)), url("../assets/img/bg.jpg");
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}

.subscribe__title {
  font-size: 36px;
  line-height: 45px;
}

.subscribe__title span {
  font-weight: normal;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.subscribe-form__input {
  font-size: 14px;
  line-height: 18px;
  color: #4b4b4b;
  padding: 10px;
  width: 60%;
  max-width: 340px;
  border-radius: 8px 0 0 8px;
  height: 55px;
  margin: 0;
}

.subscribe-form__button {
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  background: #EC1F46;
  border-radius: 0px 4px 4px 0px;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
}

.activity {
  padding: 60px 0 90px;
}

.activity__title {
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  font-family: "MuliBold";
  margin-bottom: 57px;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.activities__item {
  width: 25%;
  max-width: 255px;
  height: 255px;
  padding: 26px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.activities__item_one {
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../assets/img/activities/one_activity.jpg");
}

.activities__item_two {
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../assets/img/activities/two_activity.jpg");
}

.activities__item_three {
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../assets/img/activities/three_activity.jpg");
}

.activities__item_four {
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../assets/img/activities/four_activity.jpg");
}

.activities__button {
  margin: 20px 0 0;
  padding: 10px 20px;
  max-width: 50%;
  font-size: 12px;
  line-height: 16px;
}

.footer {
  font-size: 14px;
  line-height: 15px;
  color: #BDBDBD;
  background-color: #0A223D;
  padding: 60px 0 15px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__title {
  margin-bottom: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.footer__link {
  display: block;
  text-decoration: none;
  margin-bottom: 7px;
  color: #BDBDBD;
  line-height: 20px;
}

.footer__link:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.footer__networks img {
  padding: 0 3px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  padding: 0 25px;
}

.footer__contacts a {
  text-decoration: none;
  color: inherit;
}

.footer__contacts a:hover {
  color: white;
  text-decoration: underline;
}

.footer__info {
  margin-bottom: 30px;
}

.footer__text {
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
}

.footer__item_width {
  width: 57%;
}

.footer-bottom {
  text-align: center;
  margin: 100px 0 40px;
  position: relative;
}

.footer-bottom__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 0 10px;
}

.footer-bottom__icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer__logo {
  max-width: 180px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form-group__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group__item {
  font-size: 16px;
  line-height: 15px;
  color: #333333;
  font-family: "Muli";
  width: 48%;
  margin: 0;
  height: 50px;
  padding: 20px 30px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form-group__item:focus {
  outline: none;
}

.form-group__text {
  width: 100%;
  height: 140px;
  resize: none;
}

.form-group__button {
  margin: 0;
  width: 40%;
  max-width: 200px;
}

.form-group__require {
  position: absolute;
  bottom: 5%;
  right: 0;
  font-size: 12px;
  line-height: 15px;
  color: #BDBDBD;
}

/*media*/
@media screen and (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
  .offers__text {
    font-size: 14px;
    line-height: 18px;
  }
  .offers__item_blue {
    padding: 10px 20px;
  }
  .offers-price__current {
    font-size: 20px;
  }
  .activities__item {
    width: 23%;
  }
  .free-room__item {
    height: auto;
    min-height: 200px;
  }
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 750px;
  }
  .nav-top__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-top__item-big {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .search-form {
    width: 65%;
  }
  .person__name {
    padding: 0 18px 0 16px;
  }
  .hotel__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hotel__img {
    width: 100%;
  }
  .hotel__information {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hotel__details {
    width: 48%;
  }
  .hotel__map {
    width: 48%;
    margin: 0;
  }
  .free-room__item {
    min-height: 230px;
  }
  .free-room__item .room-img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .package__item {
    text-align: center;
    font-size: 13px;
    width: 14.28%;
  }
  .package__item:after {
    top: 120%;
  }
  .all-packages__item {
    width: 45%;
    max-width: 325px;
  }
  .all-packages__item_big {
    width: 100%;
    max-width: 900px;
  }
  .offers {
    margin: 0 auto;
  }
  .subscribe {
    padding: 20px 60px;
  }
  .subscribe__title {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .subscribe-form__input {
    max-width: 500px;
  }
  .activity {
    padding: 40px 0;
  }
  .activities {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .activities__item {
    width: 46%;
    margin-bottom: 30px;
  }
  .footer__item {
    width: 50%;
    margin-bottom: 10px;
  }
  .footer__logo {
    width: 25%;
  }
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 40px;
    margin-bottom: 10px;
  }
  .footer__item_cont {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__item_width {
    width: 100%;
  }
  .footer-bottom {
    margin: 50px 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 92%;
    max-width: 576px;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 25px;
    width: 35px;
    height: 25px;
  }
  .nav-toggle span {
    display: block;
    font-size: 30px;
  }
  .header-intro {
    display: none;
  }
  .person .person__name {
    display: none;
  }
  .person__photo {
    margin-right: 10px;
    width: 60px;
  }
  .person__menu {
    display: none;
  }
  .logo {
    width: 100%;
  }
  .subscribe-form {
    width: 100%;
  }
  .nav-top {
    height: auto;
    padding: 40px 0 20px;
  }
  .nav-top__item {
    display: none;
  }
  .nav-top__item-big {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
  }
  .navbar-bottom {
    display: none;
  }
  .breadcrumb-list {
    margin-bottom: 18px;
  }
  .package-summery__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .package-summery__item_padding {
    width: 95%;
  }
  .search-form {
    display: none;
  }
  .burger-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger-menu {
    position: absolute;
    top: 0;
    background-color: rgba(10, 34, 61, 0.9);
    z-index: 1000;
    padding: 35px 20px 15px;
    height: 100vh;
    min-height: 580px;
    width: 100%;
    color: white;
  }
  .burger-menu__close {
    position: absolute;
    top: 23px;
    right: 35px;
    font-size: 30px;
    color: inherit;
  }
  .burger-menu__list {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  .burger-menu__list .navbar-menu__link {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .burger-menu__list .navbar-menu__link:hover {
    color: #EC1F46;
  }
  .search-form_visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .search-form__input {
    width: 70%;
    font-size: 16px;
  }
  .search-form__button {
    width: 15%;
  }
  .search-form__button img {
    width: 20px;
  }
  .package__link {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .package__item {
    width: 30%;
    margin-bottom: 30px;
  }
  .package-summery__unit {
    width: 100%;
  }
  .details__item {
    margin-bottom: 20px;
  }
  .details__unit {
    width: 50%;
  }
  .all-packages {
    padding: 10px 0;
  }
  .all-packages__item {
    width: 90%;
    max-width: 350px;
    margin: 15px auto;
  }
  .all-packages__item_big {
    width: 100%;
    max-width: 500px;
  }
  .all-title {
    padding: 0 40px;
  }
  .reviews {
    padding-bottom: 20px;
  }
  .reviews__photo {
    margin-top: 20px;
  }
  .reviews__text {
    width: 70%;
    margin-bottom: 30px;
  }
  .footer {
    padding-top: 20px;
  }
  .footer__wrapper {
    padding: 20px 5px;
  }
  .footer-bottom {
    height: 60px;
    margin-bottom: 10px;
  }
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .hotel__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hotel__details,
  .hotel__map {
    width: 100%;
    margin-bottom: 20px;
  }
  .slick-prev {
    left: 7%;
  }
  .slick-next {
    right: 7%;
  }
  .free-room__item {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .hotel__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel__offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .hotel__flash-offer {
    margin-left: 0;
  }
  .offers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offers__item {
    width: 100%;
  }
  .offers__item_bg {
    height: 200px;
    border-radius: 8px 8px 0 0;
  }
  .offers__item_blue {
    border-radius: 0 0 8px 8px;
  }
  .form-group__item {
    width: 100%;
  }
  .all-packages__item_big {
    width: 90%;
    max-width: 350px;
  }
  .package__item {
    font-size: 16px;
  }
  .package__item:after {
    width: 40%;
  }
  .package__link.slick-active {
    outline: none;
  }
  .package__link .slick-arrows, .package__link .slick-prev, .package__link .slick-next {
    width: 4px;
    height: 4px;
  }
  .package__link .slick-prev {
    top: 35%;
    left: 10%;
  }
  .package__link .slick-next {
    top: 35%;
    right: 10%;
  }
  .activities__item {
    width: 90%;
  }
  .free-room__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .free-room__item .room-img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .free-room__item .free-room__info {
    width: 100%;
    min-height: 190px;
    border-radius: 0 0 8px 8px;
  }
  .free-room__item .free-room__info .room-details {
    border-radius: 0 0 8px 8px;
    font-size: 18px;
    padding: 15px 10px;
  }
  .rooms-choise {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rooms-choise__button {
    margin-top: 10px;
  }
  .rooms-choise .check-in {
    width: 60%;
    margin-bottom: 15px;
  }
  .rooms-choise .check-out {
    width: 60%;
    margin-bottom: 15px;
  }
  .rooms-choise .choise-details {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .nav-top__trash {
    margin: 0;
    opacity: 0;
  }
  .details__item {
    margin: 0;
    padding: 0 20px;
  }
  .details__unit {
    width: 100%;
  }
  .details__title {
    margin-top: 10px;
  }
  .footer__contacts {
    padding: 0;
    text-align: justify;
  }
  .footer__item {
    width: 100%;
    text-align: center;
  }
  .footer__logo {
    max-width: 100px;
  }
  .footer__title {
    padding-right: 0;
  }
  .footer-bottom {
    margin-top: 10px;
  }
  .button_margin_top {
    margin-top: 10px;
  }
}

.open {
  display: block;
}

.animation {
  -webkit-animation-name: slide-in-right;
          animation-name: slide-in-right;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.hide {
  display: none;
}

.tabs_animation {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */