/*media*/
@media screen and (max-width: 1200px){
    .container{
        max-width:980px;
    }
    .offers__text{
        font-size:14px;
        line-height:18px;
    }
    .offers__item_blue{
        padding: 10px 20px;
    }
    .offers-price__current{
        font-size: 20px;
    }
    .activities__item{
        width:23%;
    }
    .free-room__item{
        height:auto;
        min-height:200px;
    }
 }
@media screen and (max-width: 990px){
    .container{
        max-width:750px;
    }
    .nav-top__item{
        justify-content: flex-start;
    }
    .nav-top__item-big{
        justify-content: space-between;
    }
    .search-form{
        width:65%;
    }
    .person__name{
        padding: 0 18px 0 16px;
    }
    .hotel{
        &__body{
            flex-direction: column;
            flex-wrap:wrap;
        }
        &__img{
            width:100%;
        }
        &__information{
            width:100%;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__details{
            width:48%;
        }
        &__map{
            width:48%;
            margin:0;
        }
    }
    .free-room__item{
        min-height:230px;
        .room-img{
            display: inline-block;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .package__item{
        text-align: center;
        font-size: 13px;
        width: 14.28%;
        &:after{
            top:120%;
        }
    }
    .all-packages__item{
        width:45%;
        max-width: 325px;
    }
    .all-packages__item_big{
        width:100%;
        max-width: 900px;
    }
    .offers{
        margin: 0 auto;
    }
    .subscribe{
        padding: 20px 60px;
    }
    .subscribe__title {
        font-size: 30px;
        width:100%;
        text-align: center;
    }
    .subscribe-form__input {
        max-width:500px;
    }
    .activity{
        padding: 40px 0;
    }
    .activities{
        justify-content: space-around;
    }
    .activities__item{
        width:46%;
        margin-bottom: 30px;
    }
    
    .footer{
        &__item{
            width:50%;
            margin-bottom: 10px;
        }
        &__logo{
            width:25%;
        }
        &__wrapper{
            flex-wrap:wrap;
            padding:0 40px;
            margin-bottom: 10px;
        }
        &__item_cont{
            width:100%;
            margin-bottom: 20px;
        }
        &__item_width{
            width:100%;
        }
        &-bottom{
            margin: 50px 0 40px;
        }
    }
  
 }
@media screen and (max-width: 768px){
    .container{
        width:92%;
        max-width:576px;
    }
    .nav-toggle{
        display: block;
        position: absolute;
        top:30px;
        right:25px;
        width:35px;
        height:25px;
        & span{
            display: block;
            font-size: 30px;
        }
    }
    .header-intro{
        display: none;
      }
    .person{
        & &__name {
            display: none;
        }
        &__photo {
            margin-right: 10px;
            width:60px;
         }
        &__menu{
            display: none;
        }
    }
      .logo {
        width: 100%;
      }
      .subscribe-form{
          width:100%;
      }
      .nav-top {
        height: auto;
        padding: 40px 0 20px;
        &__item {
            display: none;
          }
        &__item-big {
            flex-direction: column;
            display: block;
        }
      }
      .navbar-bottom {
        display: none;
      }
      .breadcrumb-list {
        margin-bottom: 18px;
      }
      .package-summery__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
      .package-summery__item_padding {
        width: 95%;
      }
      .search-form {
        display: none;
      }
      .burger{
        &-item{
            display: flex;
            flex-direction: column;
            color:white;
            text-align: center;
            align-items: center;
        }
        &-menu{
            position: absolute;
            top:0;
            background-color: rgba(10, 34, 61, 0.9);
            z-index:1000;
            padding: 35px 20px 15px;
            height:100vh;
            min-height:580px;
            width:100%;
            color:white;
            &__close{
                position: absolute;
                top:23px;
                right:35px;
                font-size: 30px;
                color:inherit;
              }
            &__list{
                list-style: none;
                text-align: center;
                padding:0;
                .navbar-menu__link{
                    display: block;
                    margin-bottom:15px;
                    font-size: 16px;
                    text-decoration: none;
                    color:$colorWhite;
                    &:hover{
                        color:$colorRed;
                    }
                }
            }
          }
      }
      .search-form_visible{
        display: flex;
        margin:0;
        width:100%;
        margin-bottom: 20px;
      }
      .search-form__input{
        width:70%;
        font-size: 16px;    
      }
      .search-form__button{
        width:15%;
      }
      .search-form__button img {
        width:20px;
      }
      .package{
        &__link {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            margin-top: 20px;
        }
        &__item {
            width: 30%;
            margin-bottom: 30px;
        }
        &-summery__unit {
            width: 100%;
        }
      }
      .details__item {
        margin-bottom: 20px;
      }
      .details__unit {
        width: 50%;
      }
      .all-packages {
        padding: 10px 0;
        &__item {
            width: 90%;
            max-width: 350px;
            margin: 15px auto;
          }
        &__item_big {
            width: 100%;
            max-width: 500px;
        }
      }
      
      .all-title {
        padding: 0 40px;
      }
      .reviews{
          padding-bottom:20px;
          &__photo {
            margin-top: 20px;
          }
          &__text {
            width: 70%;
            margin-bottom: 30px;
          }
      }
      .footer {
        padding-top: 20px;
        &__wrapper {
            padding: 20px 5px;
          }
          &-bottom {
            height: 60px;
            margin-bottom: 10px;
          }
          &__social {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
          }
          &__title{
              margin-bottom:20px;
          }
      }
      .hotel__information {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
      .hotel__details,
      .hotel__map {
        width: 100%;
        margin-bottom: 20px;
      }
      .slick-prev{
        left: 7%;
    }
    .slick-next{
        right:7%;
    }
    .free-room__item{
        width:100%;
    }
}
@media screen and (max-width: 550px){
    .hotel{
        &__information{
            flex-direction: column;
        }
        &__offer{
            flex-direction: column;
            align-items: start;
        }
        &__flash-offer{
            margin-left:0;
        }
    }
    
    .offers{
        flex-direction: column;
        &__item{
            width:100%;
        }
        &__item_bg{
            height:200px;
            border-radius: $roundedTop;
        }
        &__item_blue{
            border-radius: $roundedBottom;
        }
    }
    .form-group__item{
        width:100%;
    }
    .all-packages__item_big{
        width:90%;
        max-width: 350px;
    }
    .package__item{
        font-size: 16px;
        &:after{
            width:40%;
        }
    }
    .package__link{ 
        &.slick-active{
            outline:none;
        }
        .slick-arrows{
            width: 4px;
            height:4px;
        }
        .slick-prev{
            top:35%;
            left:10%;
        }
        .slick-next{
            top:35%;
            right:10%;
        }
    }
    .activities__item{
        width:90%;
    }
    .free-room__item{
        flex-direction: column;
        .room-img{
            width:100%;
            border-radius: $roundedTop;
        }
        .free-room__info{
            width:100%;
            min-height:190px;
            border-radius: $roundedBottom;
            .room-details{
                border-radius: $roundedBottom;
                font-size: 18px;
                padding:15px 10px;
            }
        }
    }
    .rooms-choise{
        flex-direction: column;
        &__button{
            margin-top: 10px;
        }
        .check-in{
            width:60%;
            margin-bottom: 15px;
        }
        .check-out{
            width:60%;
            margin-bottom: 15px;
        }
        .choise-details{
            width:60%;
        }
    }
}

@media screen and (max-width: 480px){
    .nav-top__trash{
        margin:0;
        opacity:0;
    }
    .details__item{
        margin:0;
        padding: 0 20px;
    }
    .details__unit{
        width:100%;
    }
    .details__title{
        margin-top: 10px;
    }
    .footer{
        &__contacts{
            padding: 0;
            text-align: justify;
        }
        &__item{
            width:100%;
            text-align: center;
        }
        &__logo{
            max-width: 100px;
        }
        &__title{
            padding-right: 0;
        }
        &-bottom{
            margin-top:10px;
        }
    }
    .button_margin_top{
        margin-top: 10px;
    }
}