$colorRed: #EC1F46;;
$colorBlue: #0A223D;
$colorWhite: #FFFFFF;
$colorBlack: #333333;
$colorBg:  #F5FAFE;
$roundedTop: 8px 8px 0 0;
$roundedBottom: 0 0 8px 8px;
$roundedLeft: 8px 0 0 8px;
$roundedRight: 0 8px 8px 0;
